.flex-container{
	display:flex;
	background-color:black;
	flex-direction:row;
	justify-content:center;
}

.flex-container > div{
	margin:20px;
	padding:10px;
	font-size:20px;
	width:150px;
	border-radius: 30px;
	text-align:center;
}

.fillerdiv{
	height:80px;
	width:100%;
	background-color:black;
}

#dark{
	background-color:#6399A0; 
	color:#FFECCF;
}

#light{
	background-color:#FFECCF;
	color:#6399A0;
}

#mid{
	background-color:black;
	color:#6399A0;
}

/*transf*/
.transf{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	padding-top:100px;
	padding-bottom:100px;
	background:url("../images/starsbg_dark.png") center top;
	transition:all .5s;
}

.transf:hover{
	background:url("../images/starsbg.png") center top;
}

/*anim*/
@keyframes ballin{
	0%{background-color:#6399A0; left:35%}
	50%{background-color:#FFECCF; left:55%}
	100%{background-color:#6399A0; left:35%}
}

.anim{
	width:50px;
	height:50px;
	border-radius: 50px;
	background-color:#6399A0;
	position:relative;
	animation-name:ballin;
	animation-duration:5s;
	animation-iteration-count:infinite;
}